
<div class="card text-white bg-info mb-3 details" style="max-width: 18rem;">
  <div class="card-header" style="text-align: center;">George Sisko [Jkr]</div>
  <div class="card-body">
      <ul class="list-group details-list">
          <li class="list-group-item"> <i class="fas fa-phone-square"></i> &nbsp; &nbsp; 6973906102</li>
          <li class="list-group-item"> <a href="https://github.com/jkrgS" target="_blank" style="color: inherit"> <i class="fab fa-github"></i> </a> &nbsp; &nbsp; /jkrgS</li>
          <li class="list-group-item"> <a href="https://www.linkedin.com/in/gsisko/" target="_blank" style="color: inherit"><i class="fab fa-linkedin"></i></a> &nbsp; &nbsp; /gsisko</li>
          <li class="list-group-item"> <a href="https://twitter.com/GeorgeJkrr" target="_blank" style="color: inherit"><i class="fab fa-twitter-square"></i></a> &nbsp; &nbsp; @GeorgeJkrr</li>
        </ul>
  </div>
</div>
